/* Стилизация аккордеона */
.accordion {
  width: 730px;
  margin-bottom: 8px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.accordion:last-child {
  margin-bottom: 0;
}

.accordion__details {
  color: var(--input-text-color);
  padding: 24px 32px;
  position: relative;
}

.accordion__summary {
  outline: none;
  color: var(--font-color);
  list-style-type: none;
  cursor: pointer;
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__summary::after {
  content: '';
  background: url(./../../../assets/images/sprite.svg) no-repeat 0 -668px;
  position: absolute;
  right: 32px;
  width: 26px;
  height: 26px;
}

.accordion__details[open] .accordion__summary::after {
  transform: rotate(-180deg);
}

.accordion__text {
  margin: 0;
  padding-top: 16px;
}
