.avatar {
  width: 102px;
  height: 102px;
}

.avatar_small {
  width: 64px;
  height: 64px;
}

.avatar_large {
  width: 200px;
  height: 200px;
}

.avatar__image {
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1;
}
