.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 68px; }
  .cards__item {
    margin: 0 30px 30px; }
  @media screen and (max-width: 768px) {
    .cards {
      margin-top: 24px;
      padding-left: 8px;
      padding-right: 8px; }
      .cards__item {
        margin: 0 8px 11px; } }
