:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --dark-purple: #5028c6;
  --blue: #374fc7;
  --dark-blue: #2342c0;
  --blue-light: #4263eb;
  --blue-x-light: #a0b1f5;
  --red: #f03d3e;
  --dark-red: #d84910;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --grey-5: #f9fafc;
  --grey-6: #90a0b7;
  --grey-7: #334d6e;
  --grey-8: #ffffff75;
  --grey-half-transparent: rgba(196, 196, 196, 0.5);

  --error: var(--red);
  --notification: var(--dark-red);
  --success: var(--blue);

  --primary: var(--blue);
  --primary-dark: var(--dark-blue);
  --secondary: var(--purple);
  --secondary-dark: var(--dark-purple);
  --alternate: var(--white);
  --active: var(--blue-light);
  --active-secondary: var(--blue-x-light);

  --text-primary: var(--black);
  --text-secondary: var(--grey-3);
  --active-text-color: var(--text-primary);
  --main-bg: var(--light-bg);
  --grey-bg: var(--grey-1);
  --white-bg: var(--white);
  --light-bg: var(--white);
  --dark-bg: var(--black);
  --card-bg: var(--white);
  --font-color: var(--text-primary);
  --input-text-color: var(--grey-4);
}

html[data-theme-dark=''] {
  --main-bg: var(--black);
  --font-color: var(--grey-8);
  --dark-bg: var(--grey-1);
  --white-bg: var(--black);
  --light-bg: var(--grey-4);
  --grey-bg: var(--grey-4);
  --card-bg: var(--black);
  --text-primary: var(--white);
  --active-text-color: var(--grey-2);
  --input-text-color: var(--font-color);
}
