.component {
  background-color: var(--white);
  border-radius: 12px;
  display: grid;
  grid-template-rows: auto auto auto; }

.component__box {
  padding-left: 48px;
  padding-right: 48px; }

.component__title {
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  color: var(--grey-4);
  padding-top: 32px; }

.component__render {
  padding-top: 32px;
  padding-bottom: 32px;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 16px; }

.component__code-content {
  border-top: 1px solid var(--grey-2);
  padding: 0 48px; }

@media screen and (max-width: 768px) {
  .component {
    width: 100%; } }
