.buttons {
  padding: 1em;
}

.buttons-row {
  display: flex;
}

.buttons-row__title {
  color: var(--text-secondary);
  text-transform: uppercase;
  margin-right: 1em;
}

.button_no-events {
  pointer-events: none;
}